<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
	 see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert">
			<section name="DevelopersWin.VoteReporter.Parts.Development.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings xdt:Transform="Insert">
		<DevelopersWin.VoteReporter.Parts.Development.Properties.Settings>
			<setting name="ServerUri" serializeAs="String">
				<value>http://localhost:5341</value>
			</setting>
			<setting name="ApiKey" serializeAs="String">
				<value>FHDZFBUt1z34o0j6L1iE</value>
			</setting>
		</DevelopersWin.VoteReporter.Parts.Development.Properties.Settings>
	</userSettings>
</configuration>