<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
	 see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert">
			<section name="DevelopersWin.VoteReporter.Parts.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<applicationSettings xdt:Transform="Insert">
		<DevelopersWin.VoteReporter.Parts.Common.Properties.Settings configSource="Configuration\Settings.settings.local" />
	</applicationSettings>
</configuration>